::placeholder
  color: #fff
::selection
  background-color: $accent
  color: #fff

  
html
  font-size: 25vw
  @media (min-width: 400px)
    font-size: 100px
    overflow-x: hidden
body
  font-size: .14rem
  position: relative
  line-height: 1.4
  font-weight: 400
  font-family: 'DIN Pro', sans-serif
  margin: 0
  padding: 0
  input, textarea
    border: #666 .01rem solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

h4
  font-size: 0.24rem
  color: #171717
  font-weight: normal

.btn
  background: $accent
  color: #fff
  text-decoration: none
  font-size: .18rem
  border-radius: 5px
  padding: .1rem .2rem
  font-weight: 500
